


.banner{
    background-color: #00AAAA;
    color: white;
    margin-top: 20px;
    text-align: center;
    padding: 50px 0;
    
} 

.highlight{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a7cac3;
}

section{
    margin-top: 20px;
    display: flex;
    height: 100vh;
}
.section2{
    margin-top: 260px;
    display: flex;
    height: 100vh;
}
.gallery{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.gallery-description{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.introduction{
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.introduction h2{
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
    color: rgb(46, 120, 133);
}
#girl{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: 50px;
    margin-left: 40px;
    opacity: 0.9;
    

}

.details{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: left;
    margin-left: 50px;
    margin-top:80px; 
    margin-bottom: 0;
    color: rgb(46, 120, 133);
}
#designer{
    color: rgb(114, 112, 141);
    margin-left: 50px;
    font-size: 15px;
}
#frontend{
    color: rgb(114, 112, 141);
    margin-left: 20px;
    font-size: 15px;
}
#catlover{
    color: rgb(114, 112, 141);
    margin-left: 20px;
    font-size: 15px;
}
.details h3{
    margin-top:0px;
}
.gallery-description h2{
    color: rgb(46, 120, 133);
}
.gallery-description h5{
    color: rgb(83, 87, 87);
    margin: 10px;
}
.gallery-description p{
    color: rgb(140, 143, 143);
    margin: 30px;
    margin-top:-20px; 
    font-size: 14px;
}
.introduction p{
    color: rgb(140, 143, 143);
    margin: 30px;
    margin-top:-20px; 
    font-size: 14px;
}
.preview{
    display: flex;
    width: 60%;
    border: 2px solid #a7cac3;
}
.preview img{
    height: 100px;
    flex-grow: 1;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
img.active{
    opacity: 1;
}


body{
    
    font-family: 'calibri';
    font-weight: 400;
    text-transform: capitalize;
}

.containerx{
    margin-top: 10px;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    background: linear-gradient(rgb(178, 196, 113),rgb(180, 233, 184));
    flex: 0 0 80%;
}
.container2{
    margin-top: 20px;
    text-align: left;
    padding: 2rem;
    border-radius: 8px;
    background-color: rgb(148, 134, 182);
    flex: 0 0 80%;
}

.conversation{
    text-align: center;
}

#quotebtn{
    border: none;
    color: #fff;
    background: #00AAAA;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#quotebtn:hover{
color: #9be08a;
}
blockquote{
    background: #f9f9f9;
    border-left: 10px solid #00AAAA;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 12px;
}

#author{
    color: rgb(255, 255, 255);
    
}

#pic{
height: 150px;
margin: 3px;
}

#screenshot{
width: 100vw;
}
#second{
    background: rgb(95, 98, 126);
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;
    width: 100%;
    flex-grow: 1;
}


.bold{
    width:100%;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

#header{
    width: 40%;
    margin: 0 ;
    overflow: hidden;
}

#header li{
    float: left;
    color: #00AAAA
}

#header li a{
    display:block;
    width:192px;
    height:35px;
    line-height:40px;
    font-size:15px;
    color: #00AAAA;
    text-align:left;
    font-weight: 500;
}

#header li a:hover{
    color: rgb(149, 104, 207);
    
}
.pagelink{
    align-items: left;
    margin: 0;
}
#second:hover{
    color: rgb(226, 194, 233);
    
}

#clock{
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    color: #fff;
    align-content: right;
    padding-top: 5px;

}

.cl{
    text-align: center;
    background: #5f7994;
    margin-top: 10px;
    justify-content: center;
    flex: 0 0 80%;
}

.weather
{
    background: linear-gradient(rgb(126, 226, 240),rgb(73, 89, 184));
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20 px;
    font-family: "Orbitron", sans-serif;
    color: white;
    align-items: center;
} 
