.banner{
    background-color: #00AAAA;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
} 
body{
    
    font-family: 'calibri';
    font-weight: 400;
    text-transform: capitalize;
}

.container{
    margin-top: 50px;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgb(149, 221, 243);
    flex: 0 0 80%;
}


#quotebtn{
    border: none;
    color: #fff;
    background: #00AAAA;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
}

#quotebtn:hover{
color: #e8fa99;
}
blockquote{
    background: #f9f9f9;
    border-left: 10px solid #00AAAA;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 12px;
}

#author{
    color: #00AAAA;
    
}

#pic{
height: 150px;
margin: 5px;
}

#second{
    color: #00AAAA;
    font-size: 55px;
    text-align: center;
}

#description{
    color: #fff;
    width: 420px;
    font-size: 15px;
    background-color: #00AAAA;

}
.bold{
    font-weight: 900;


}

#header{
    
    margin: 0 auto;
    overflow: hidden;
}

#header li{
    float: left;
    color: #00AAAA
}
#header li a{
    display:block;
    width:192px;
    height:50px;
    line-height:50px;
    font-size:15px;
    color: #00AAAA;
    text-align:center;
}
#header li a:hover{
    background-color: #CCDDFF;
}

#clock{
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    color: #fff;
    align-content: right;
    padding-top: 10px;

}

.cl{
    text-align: center;
    background: #778899;
    margin-top: 30px;
    
    justify-content: center;
    flex: 0 0 80%;
}