.banner{
    background-color: #00AAAA;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
} 


#pic{
height: 150px;
margin: 5px;
}

#second{
    color: #00AAAA;
    font-size: 75px;
    text-align: center;
}

#description{
    color: #778899;
    text-align: center;

}
.bold{
    font-weight: 900;


}

#header{
    width = 960px;
    margin: 0 auto;
    overflow: hidden;
}

#header li{
    float: left;
    color: #00AAAA
}
#header li a{
    display:block;
    width:192px;
    height:50px;
    line-height:50px;
    font-size:15px;
    color: #00AAAA;
    text-align:center;
}
#header li a:hover{
    background-color: #CCDDFF;
}