body 
{
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: 30px;
}


.button 
{
    font-size: 35px;
    width: 130px;
    height: 50px;
    text-align: center;
    justify-content: center;
    float:right;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 3px;
    border-radius: 12px;
    box-shadow: inset 0 8px 5px rgb(241, 226, 193);
}
.button a 
{
    text-decoration: none;
    color:#ffcf32;
    line-height: 57px;
}
#containercd{
    transform: translate(-50%, -50%);
}
#next a span{
    display: inline-block;
    margin: 6px;
    animation: arrow_r 2s linear infinite;
}
#prev a span{
    display: inline-block;
    margin: 6px;
    animation: arrow_l 2s linear infinite;
}
@keyframes arrow_r{
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);
    }
}
@keyframes arrow_l{
    0%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(5px);
    }
}

#containerqz h1{
    padding: 8px;
    border: solid;
    border-radius: 15px;
    color:#ffd549;
    box-shadow: inset 0 9px 5px rgb(233, 226, 211);
    border: 0;
    background-color: rgb(255, 255, 255);
}

.containercd h1{
    color: #ffffff;
    width: 20%;
    font-size: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    float: center;
    letter-spacing: -5px;
}
#control{
    margin: auto;
    width: 260px;
    height: 150px;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    color:#ffd549;
    box-shadow: inset 0 15px 5px rgb(233, 226, 211);
    border: 0;
    cursor: pointer;
}
#mytimer{
    margin: auto;
    width: 50%;
    font-size: 40px;
    color: #ddd6b1;
    margin-top: 30px;
    padding: 0;
    text-align: center;
}

#container 
{
    width:70%;
    height: 80%;
    margin: 7px auto;
    padding: 80px 80px;
    background-color: #e6d116;
    color: #fff;
    border-radius:30px;
    box-shadow: inset 15px 20px 40px rgb(238, 167, 13);
    
}

ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40%;
}
ul li
{
    background: #ffd036;
    width: 55%;
    margin: 7px;
    padding: 5px;
    display: inline-block;
    box-shadow: inset 0 6px 5px rgb(235, 180, 28); 
    font-size: 25px;
    border-radius: 15px;
}
#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .containercd h1{
        color: #ffffff;
        width: 40%;
        font-size: 70px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .containerqz h1{
        font-size: 28px;
    }
    ul li
{
    width: 90%;
    margin: 5px;
    padding: 1px;
    display: inline-block;
    font-size: 22px;
    border-radius: 8px;
    
}
.button 
{
    font-size: 32px;
    width: 120px;
    height: 45px;
    cursor: pointer;
    border-radius: 8px;
}
.button a 
{
    line-height: 45px;
}

#container 
{
    width:80%;
    height: 85%;
    border-radius:30px;
}
h2{
    font-size: 24px;
}
#container 
{
    margin: 12px auto;
    padding: 40px 40px;
    border-radius:30px;
}
#control{
    width: 200px;
    height: 120px;
    font-size: 46px;
}
}