*{
    margin: 0;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}
.header .content-box{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../image/3dscroll/meeting.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.menu{
    display: inline-flex;
}
.menu img{
    height: 35px;
    margin: 0px ;
    cursor: pointer;
}
#logo{
    position: absolute;
    top: 20px;
    left: 20px;
}
.banner-text{
    width: 80%;
    color: #fff;
    margin: 16% auto 0;
    text-align: center;
}
.banner-text h2{
    margin-top: 50px;
    font-size: 64px;
}
.banner-text p{
    font-size: 14px;
    margin: 20px 0 50px;
}
.banner-text a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #ffcd62;
    display: block;
    padding: 10px;
    width: 180px;
    margin: auto;
    background: #ffcd62;
    transition: .5s;
    
    
}
.banner-text a:hover{
    background: transparent;
    text-decoration: none;
}



/*service*/
.content-box{
    background: #f9f8ff;
    height: 100%;
    width: 100%;
    
}
h1{
    text-align: center;
    padding-top: 100px;
}
h1::after{
    content:"";
    background: #ffcd62;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}
.service .icon{
    font-size: 30px;
    margin: 20px auto;
    padding: 10px;
    height: 70px;
    width: 70px;
    border: 2px solid #ffcd62;
    color: #ffcd62;
    border-radius: 50%;
}

.service p{
    font-size: 12px;
    margin-top: 10px;
    color: #777;
    padding: 20px;
}

.service span{
    color: #ffcd62;
}

.service .col-md-4:hover{
    background: #ffcd62;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

.service .col-md-4:hover .icon{
    border: 2px solid #fff;
    color: #fff;
}
.service .col-md-4:hover span{
    color: #fff;
}


/*features*/
.feature h2{
    margin-top: 130px;
}
.feature h2::after{
    content:"";
    background: #ffcd62;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
    position: absolute;
    left: 17px;
}
.feature ul{
    margin-top: 30px;
    margin-left: 50px;
    list-style-type: none;
}
.feature ul li{
    line-height: 40px;
    font-size: 14px;
    position: relative;
}
.feature ul li::after{
    content:"";
    background: #ffcd62;
    height: 7px;
    width: 7px;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: -25px;
}
.feature img{
    margin-top: 130px;
}


/*footer*/
.footer h1{
    padding-top: 50px;
}
.contact-form{
    padding: 0px;
}
.form-control{
    border: none !important;
    box-shadow: none;
}
::placeholder{
    font-size:12px;
}
.contact-form button{
    border: none;
    background: #ffcd62;
}
.contact-info .follow{
    background-color: #fff;
    padding: 8px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    font-size: 20px;
    color: #ffcd62;
    font-weight: bold;
}
.contact-info span{
    font-size: 14px;
}

.copyright{
    text-align: center;
    font-size: 12px;
    color: #8f7743;
    margin: 0;
}

.footer hr{
    margin-top: 30px;
    background: #ffcd60;
}